<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            axios.put('/api/transaction', {
                transactionId: 31234,
                amount: 123412,
            }).then(function (response) {
                console.log(response.data);
            });
        }
    }
</script>
